<div>
	<!-- <content-loader [ignoreBaseUrl]="true" [primaryColor]='loader.primaryColor' [secondaryColor]='loader.secondaryColor'
		[width]="400" [height]="2000">

		<svg:rect x="0" y="0" rx="0" ry="0" width="400" height="220" />

		<svg:rect x="25" y="240" rx="0" ry="0" width="350" height="16" />
		<svg:rect x="20" y="265" rx="0" ry="0" width="360" height="16" />

		<svg:rect x="10" y="300" rx="0" ry="0" width="380" height="1" />

		<svg:rect x="100" y="310" rx="0" ry="0" width="200" height="50" />

		<svg:rect x="10" y="370" rx="0" ry="0" width="380" height="1" />

	</content-loader> -->


	<content-loader [ignoreBaseUrl]="true" [primaryColor]='loader.primaryColor' [secondaryColor]='loader.secondaryColor'
		[width]="400" [height]="2000">

		<svg:rect x="5.5" y="7.27" rx="0" ry="0" width="392" height="175" />
		<svg:rect x="47.5" y="222.27" rx="0" ry="0" width="303" height="21" />
		<svg:rect x="48.5" y="259.27" rx="0" ry="0" width="307" height="23" />
		<svg:rect x="24.5" y="297.27" rx="0" ry="0" width="349" height="3" />
		<svg:rect x="91.5" y="320.27" rx="0" ry="0" width="220" height="53" />
		<svg:rect x="31.5" y="398.27" rx="0" ry="0" width="338" height="3" />
		<svg:rect x="107.5" y="418.27" rx="0" ry="0" width="206" height="18" />
		<svg:rect x="98.5" y="445.27" rx="0" ry="0" width="224" height="19" />
		<svg:rect x="91.5" y="499.27" rx="0" ry="0" width="239" height="22" />
		<svg:rect x="29.5" y="539.27" rx="0" ry="0" width="345" height="58" />
		<svg:rect x="30.5" y="619.27" rx="0" ry="0" width="342" height="60" />
		<svg:circle cx="39" cy="730" r="10" />
		<svg:rect x="69.5" y="719.27" rx="0" ry="0" width="282" height="45" />
		<svg:rect x="28.5" y="798.27" rx="0" ry="0" width="26" height="21" />
		<svg:rect x="71.5" y="800.27" rx="0" ry="0" width="282" height="41" />
		<svg:rect x="68.5" y="880.27" rx="0" ry="0" width="263" height="305" />
		<svg:rect x="128.5" y="1238.27" rx="0" ry="0" width="71" height="22" />
		<svg:rect x="208.5" y="1241.27" rx="0" ry="0" width="4" height="22" />
		<svg:rect x="228.5" y="1239.27" rx="0" ry="0" width="65" height="23" />
		<svg:rect x="0" y="1298.27" rx="0" ry="0" width="400" height="600" />
	</content-loader>
</div>